<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer to all files, smart smart</title>
</head>
<!--NOTE: AUTHORS OF THIS CLASS: JACOB-->
<body>

<footer th:fragment="footer">
    <div class="footerLeft">
        <a href="https://www.google.dk/maps/place/Br%C3%B8ndby+Bordtennis+Club/@55.6459023,12.4152098,17z/data=!3m1!4b1!4m5!3m4!1s0x465256dc93bd8f09:0xc6a5447234b28de0!8m2!3d55.6459023!4d12.4173985?hl=da">
            <u>Adresse:</u>
        </a>
        <p>Brøndby Hallen (kælderen) </p>
        <p>Brøndby Stadion 10        </p>
        <p>2605 Brøndby              </p>
    </div>
</footer>

</body>
</html>