<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu of everything! NICE</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<!--NOTE: AUTHORS OF THIS CLASS: ALLE-->
<body>


    <nav th:fragment="menu">
        <div class="container topNav">
        <ul>
            <li><a href="/" th:classappend="${#httpServletRequest.getRequestURI().matches('/') ? 'active' : ''}">Forside</a></li>
            <li><a href="#"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/members') ? 'active':''}"  >Medlemmer</a>
                <ul>
                    <li><a href="/members/createMember" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/members/createMember') ? 'active':''}">Opret Medlem</a></li>
                    <li><a href="/members/listMembers" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/members/listMembers') ? 'active':''}">Medlems Liste</a></li>
                </ul>
            </li>
            <li><a href="/calendar" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/calendar') ? 'active':''}">Kalender</a>
            </li>
            <li><a href="/createLogin" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/createLogin') ? 'active':''}">Opret login</a>
            </li>
            <li><a href="/hours" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/hours') ? 'active':''}">Træneroversigt</a>
            </li>
        </ul>
        </div>
    </nav>


</body>
</html>