<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brøndby Bordtennis Club</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="headerphoto454.jpg" height="290" width="1800"/>
</header>

<div th:insert="fragments/menu :: menu"></div>
<section th:insert="fragments/sidebar :: sidebar"></section>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>