<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Klub medlemmer</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:insert="fragments/menu :: menu"></div>

<div class="row" style="background-color: #dddddd">
    <div class="columnsidebar" style="background-color: black" th:insert="fragments/sidebar :: sidebar"></div>


    <div class="column">
        <form action="/listMembers" method="post">
            <label>Mænd:</label>
            <input type="checkbox" name="maleCheck" checked>
            <input type="hidden" name="maleCheck" value="false">
            <label>Kvinder:</label>
            <input type="checkbox" name="femaleCheck" checked>
            <input type="hidden" name="femaleCheck" value="false">
            <label>Slettede medlemmer:</label>
            <input type="checkbox" name="delMembers">
            <input type="hidden" name="delMembers" value="false">
            <label>Max alder</label>
            <input type="number" name="maxAge" placeholder="100" value="100">
            <label>Min alder</label>
            <input type="number" name="minAge" placeholder="0" value="0">

            <input type="submit" class="btn" value="Filtrer">

        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Køn</th>
                <th>Mail1</th>
                <th>Mail2</th>
                <th>Hold</th>
                <th>pointStævne</th>
                <th>Start dato</th>
                <th>Fødselsdag</th>
                <th>Telefonnummer1</th>
                <th>Telefonnummer2</th>
                <th>Telefonnummer3</th>
                <th>Stop dato</th>
                <th></th>
            </tr>

            <tr th:each="member : ${members}">
                <td th:text="${member.getId()}"></td>
                <td th:text="${member.getFirstName()}"></td>
                <td th:text="${member.getLastName()}"></td>
                <div th:with="result = ${member.getIsFemale() == 1}">
                    <span th:if="${result}">
                        <td>Kvinde</td>
                    </span>
                    <span th:unless="${result}">
                        <td>Mand</td>
                    </span>
                </div>

                <td th:text="${member.getMail()}"></td>
                <td th:text="${member.getMail2()}"></td>
                <td th:text="${member.getHold()}"></td>
                <td th:text="${member.isPointStavne()}"></td>
                <td th:text="${member.getStartDate()}"></td>
                <td th:text="${member.getBirthday()}"></td>
                <td th:text="${member.getPhoneNumber()}"></td>
                <td th:text="${member.getPhoneNumber2()}"></td>
                <td th:text="${member.getPhoneNumber3()}"></td>
                <td th:text="${member.getStopDate()}"></td>
                <td>
                    <div th:with="result = ${member.getIsDeleted() == 0}">
                        <span th:if="${result}">
                            <button class="btn-ed btn"><a style="text-decoration: none; color: white" th:href="@{/members/editMember/__${member.getId()}__}">Rediger medlem</a></button>
                            <div th:id="${'deleteBtn' + member.getId()}">
                                <button class="btn-del btn" th:onclick="'javascript:confirmDelete(\'' + ${member.getId()} + '\');'">Slet</button>
                            </div>
                        </span>
                        <span th:unless="${result}">
                            <div th:id="${'permDeleteBtn' + member.getId()}">
                                <button class="btn-del btn" th:onclick="'javascript:permDelete(\'' + ${member.getId()} + '\');'">Slet permanent</button>
                            </div>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


</body>
<script type="text/javascript">

    function permDelete(id){
        //lav en metode der give en ny knap confirm, not confirm!
        console.log(id)
        var permDelBtn = 'permDeleteBtn' + id;
        $("#" + permDelBtn).empty();
        var form = $("<form/>",
            {action:'/confirmPermDelete',
                method:'POST',
                id:'confirmPermDelete'
            }
        );
        form.append(
            $("<input>",
                {
                    type:'hidden',
                    value:id,
                    name:'id',
                    id:'id'
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn-del btn',
                    value: 'Bekræft',
                    name: 'submit'
                }
            )
        );
        console.log(form)
        $("#" + permDelBtn).append(form);
    }

    function confirmDelete(id){
        //lav en metode der give en ny knap confirm, not confirm!
        console.log(id)
        var delBtn = 'deleteBtn' + id;
        $("#" + delBtn).empty();
        var form = $("<form/>",
            {action:'/confirmDelete',
                method:'POST',
                id:'confirmDelete'
            }
        );
        form.append(
            $("<input>",
                {
                    type:'hidden',
                    value:id,
                    name:'id',
                    id:'id'
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type: 'date',
                    name: 'stopDate'
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn-del btn',
                    value: 'Bekræft',
                    name: 'submit'
                }
            )
        );
        console.log(form)
        $("#" + delBtn).append(form);
    }
</script>
</html>