<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trænere</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:insert="fragments/menu :: menu"></div>

<div class="row" style="background-color: #dddddd">
    <div class="columnsidebar" style="background-color: black" th:insert="fragments/sidebar :: sidebar"></div>


    <div class="column">
        <div th:if="${loginstatus == 'no' || loginstatus == null}">
            <form method="post" action="/login">
                <label>Username</label>
                <input type="text" name="username" id="name" placeholder="Username" required><br>
                <label>Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required><br>
                <input type="submit" value="Login">
            </form>
        </div>
        <div th:if="${loginstatus == 'yes'}">
            <div id="createTrainerDiv">
                <button class="btn btn-create" th:onclick="'javascript:createTrainer()'">Opret træner</button>
            </div>
            </br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Fornavn</th>
                    <th>Efternavn</th>
                    <th>Timer</th>
                    <th></th>
                </tr>
                <tr th:each="trainer : ${trainerList}">
                    <td th:id="${'trainerId' + trainer.getId()}" th:text="${trainer.getId()}"></td>
                    <td th:id="${'trainerFirstname' + trainer.getId()}" th:text="${trainer.getFirstName()}"></td>
                    <td th:id="${'trainerLastname' + trainer.getId()}" th:text="${trainer.getLastName()}"></td>
                    <td th:id="${'trainerHours' + trainer.getId()}" th:text="${trainer.getHours()}"></td>
                    <td th:id="${'trainerBtn' + trainer.getId()}">
                        <button class="btn btn-ed" th:onclick="'javascript:addHours(\'' + ${trainer.getId()} + '\');'">Opdater timer</button>
                        <button class="btn btn-ed" th:onclick="'javascript:editTrainer(\'' + ${trainer.getId()} + '\');'">Rediger information</button>
                        <button class="btn btn-del" th:onclick="'javascript:delTrainer(\'' + ${trainer.getId()} + '\');'">Slet træner</button>
                    </td>
                </tr>
            </table>
            </br>
            <div id="resetDiv">
                <button class="btn btn-del" th:onclick="'javascript:resetHours();'">Nulstil timer</button>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">

    function editTrainer(id){
        console.log(id);
        var trainerFirstname = $("#trainerFirstname" + id).text();
        var trainerLastname = $("#trainerLastname" + id).text();
        var trainerHours = $("#trainerHours" + id).text();
        console.log(trainerFirstname + " " + trainerLastname + " " + trainerHours);

        var addBtn = 'trainerBtn' + id;
        $("#" + addBtn).empty();
        var form = $("<form/>", {
            action:'editTrainer',
            method: 'POST',
            id:'editTrainerForm'
        });
        form.append(
            $("<input>",
                {
                    type:'hidden',
                    value:id,
                    name:'id',
                    id:'id'
                }
            )
        );
        form.append(
            $("<label style='color: black'>Fornavn</label>")
        );
        form.append(
            $("<input>", {
                type:'text',
                placeholder:'Fornavn',
                required: 'true',
                name:'firstname',
                id:'firstname',
                value: trainerFirstname
            })
        );
        form.append(
            $("<label style='color: black'>Efternavn</label>")
        );
        form.append(
            $("<input>", {
                type:'text',
                placeholder:'Efternavn',
                required: 'true',
                name:'lastname',
                id:'lastname',
                value: trainerLastname
            })
        );
        form.append(
            $("<label style='color: black'>Timer</label>")
        );
        form.append(
            $("<input>", {
                type:'number',
                placeholder:'Timer',
                required: 'true',
                name:'hours',
                id:'hours',
                min:0,
                step:0.25,
                value:trainerHours
            })
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn btn-ed',
                    value: 'Gem ændringer',
                    name: 'submit'
                }
            )
        );
        console.log(form);
        $("#" + addBtn).append(form);
    }

    function createTrainer(){
        console.log("createTrainer called");
        $("#createTrainerDiv").empty();
        var form = $("<form/>", {
            action:'createTrainer',
            method:'POST',
            id:'createTrainerForm'
        });
        form.append(
            $("<label>Fornavn</label>")
        );
        form.append(
            $("<input>", {
                type:'text',
                placeholder:'Fornavn',
                required: 'true',
                name:'firstname',
                id:'firstname'
            })
        );
        form.append(
            $("<label>Efternavn</label>")
        );
        form.append(
            $("<input>", {
                type:'text',
                placeholder:'Efternavn',
                required: 'true',
                name:'lastname',
                id:'lastname'
            })
        );
        form.append(
            $("<label>Timer</label>")
        );
        form.append(
            $("<input>", {
                type:'number',
                placeholder:'Timer',
                required: 'true',
                name:'hours',
                id:'hours',
                min:0,
                step:0.25
            })
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn btn-create',
                    value: 'opret træner',
                    name: 'submit'
                }
            )
        );
        console.log(form)
        $("#createTrainerDiv").append(form);
    }

    function resetHours(){
        console.log("Reset hours called")
        $("#resetDiv").empty();
        var form = $("<form/>", {
            action:'resetHours',
            method: 'POST',
            id:'resetHours'
        });
        form.append(
            $("<input>", {
                type: 'submit',
                class:'btn btn-del',
                value: 'Bekræft nulstil timer',
                name: 'submit'
            })
        );
        console.log(form)
        $("#resetDiv").append(form);
    }

    function addHours(id){
        console.log(id);
        var addTd = 'trainerHours' + id;
        var addBtn = 'trainerBtn' + id;
        $("#" + addTd).empty();
        $("#" + addBtn).empty();
        var form = $("<form/>", {
            action:'addHours',
            method: 'POST',
            id:'addHoursForm'
        });
        form.append(
            $("<label style='color: black'>Timer der skal tilføjes</label>")
        );
        form.append(
            $("<input>",
                {
                    type:'hidden',
                    value:id,
                    name:'id',
                    id:'id'
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type:'number',
                    value:0,
                    name:'hoursToAdd',
                    id:'hoursToAdd',
                    required:'true',
                    step:0.25
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn btn-ed',
                    value: 'Opdater timer',
                    name: 'submit'
                }
            )
        );
        console.log(form)
        $("#" + addTd).append(form);
    }

    function delTrainer(id){
        console.log(id)
        var trainerTd = 'trainerBtn' + id;
        $("#" + trainerTd).empty();
        var form = $("<form/>",
            {action:'/confirmDeleteTrainer',
                method:'POST',
                id:'confirmDelete'
            }
        );
        form.append(
            $("<input>",
                {
                    type:'hidden',
                    value:id,
                    name:'id',
                    id:'id'
                }
            )
        );
        form.append(
            $("<input>",
                {
                    type: 'submit',
                    class:'btn btn-del',
                    value: 'Bekræft',
                    name: 'submit'
                }
            )
        );
        console.log(form)
        $("#" + trainerTd).append(form);
    }
</script>
</html>